
:root {
    /* Colores*/
    --verde: #739072;
    --morado: #7F5283;
    --moradoT: #7f5283c4;
    --negro: #3D3C42;
    --blanco: #fefbf6ef;
    --blanco2: #ECE3CE;
    --gris: #41414167;
}


*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;  /*10px = 1rem*/
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../img/fondo.jpg);
    background-repeat: repeat;
}

img {
    width: 25rem;
    height: 20rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: bold;
    margin-left: 4rem;
}

nav a {
    font-size: 1.5rem;
}

hr{
    height: 0rem;
    border: 1.4px dashed;
}

span{
    color: var(--moradoT); 
}

h1{
    font-size: 4.5rem;  
    text-align: center;  
    color: var(--morado);
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
}

h2{
    text-align: center;
    color: var(--blanco);
}

h3{
    font-size: 1.6rem; 
    padding-bottom: 3rem;
    color: #0e0e0e;
}

button, a {
    font-family: 'Rubik', sans-serif;
    color: var(--negro);
}

.navul .navil{
    display: inline-block;
    padding: 0rem 1.1rem;
    font-size: small;
}

.navs{
    color: #151515;
    text-decoration: none;
}

.navs:hover{
    color: var(--morado);
    transition: 0.5s ease;
}

.titulo{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600px;
    text-transform: uppercase;
    color: #151515;
    margin-top: 1rem;
    margin-bottom: 8rem;
}

.titulo2{
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    text-transform: uppercase;
}

.bienvenida{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 0 1.5rem;
}

.bienvenida div{
    background-color: var(--gris);
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.bienvenida div p{
    font-size: 1.1rem;
    padding: 0 3rem;
}

.menuFlores {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    text-align: center;
    border-radius: 5px;
    padding: 2rem;
    background-color: var(--gris);
    margin: 1.5rem;
}

.flores {
    font-size: 2rem;
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--blanco);
    color: var(--negro);
}

.floresInfo p {
    margin: 1rem;
}

#divCarrito {
    display: none;
    background-color: rgba(85, 8, 121, 0.301);
    border-radius: 5px;
    position: absolute;
    top:10%; left: 66%;
    width: 40rem;
    padding: 2rem;
}

#divCarrito p {
    font-size: 2rem;
    color: var(--blanco);
    font-weight: bold;
    border-radius: 3pc;
    background-color: #6b6a6a9b;
    padding: 0.6rem;
}

.botonesCarrito {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
} 

.extra {
    text-align: center;
    padding: .5rem 5rem;
    margin: 1.5rem;
    font-size: 1.5rem;
    background-color: var(--gris);
    border-radius: 5px;
    font-weight: bold;
}

.cerrarCarrito{
    border: transparent;
    font-size: 2rem;
}

.abrirCarrito, .cerrarCarrito {
    background-color: transparent;
}

.total {
    display: none;
}

.pdp .cr{
    background-color: var(--negro);
    padding: 1.5rem 1rem;
    text-align: center;
    color: #efefef;
    font-size: 17px;
}

.contacto{  
    width: 500px;
    margin: 2.5rem 2.5rem 2.5rem 4.5rem;
    border: 2px solid var(--negro);
    border-radius: 1rem; 
    background-color: #eeeeeeb0;
    padding: 1rem;
}

.bn{
    color: #fff;
    font-size: 1.5rem;
    background-color: var(--gris);
    border: transparent;
    border-radius: 5px;
    font-weight: bold;
}

.bn p {
    margin: 1rem;
}

.bn:hover{
    background-color: var(--negro);
}

.btn{
    border: 1px solid var(--blanco);
    padding: .5rem;
    border-radius: 4px;
    background-color: var(--moradoT);
    font-weight: bold;
}

.btn:hover{
    background-color: var(--morado);
}

.btnTotal{
    background: #fbfbfbae;
    border: 1px solid var(--blanco);
    border-radius: 5px;
    font-weight: bold;
    padding: .5rem;
}

.btnTotal:hover{
    background-color: var(--blanco);
}

.formulario input:focus{
    outline:0;
    border: 1.5px solid var(--moradoT);
}

.gif{
    margin-top: 5rem;
    margin-right: 5rem;
    float: right;
}

.gif img{
    width: 55rem;
    height: 45rem;
    border-radius: 1.5rem;
}

input{
    font-family: 'Rubik', sans-serif;
    background-color: #fbfbfb; 
    width: 46.5rem; 
    height: 4rem; 
    border-radius: .5rem;  
    border-style: solid; 
    border-width: 1px; 
    border-color: var(--morado); 
    margin-top: 1rem;  
    padding-left: 1rem;
    margin-bottom: 2rem; 
    font-size: 1.5rem;
}

label {
    font-size: 1.5rem;
}

.formulario h3 {
    text-align: center;
}

.producto-carrito {
    margin-bottom: .8rem;
    padding: .5rem;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: .4rem;
    font-size: 1.4rem;
}

.flores button.agregado {
    background-color: #4CAF50;
    color: white;
}

.PTotal{
    font-size: 2.5rem;
}

.contenedor{
    margin: 2rem;
}